.tableHeader th {
    text-align: center;
}

.table {
    margin-bottom: 1%;
}

.actions button {
    margin: 1%;
}

.text {
    vertical-align: middle !important;
}

.cardHeader a{
    position: relative;
    left: 35%;
    margin-bottom: 1%;
}

.pageHeader {
    display: inline-block;
    
}

.image {
    width: 50;
    height: 50px;
}