.rowHeader {
    margin-left: -15% !important;
    margin-right: -15% !important; 
}
*.icon-blue {
    color: #0088cc;
  }
  
  *.icon-grey {
    color: grey;
  }
  
  .cart {
    width: 70%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 40%
  }
  
  .badge:after {
    content: attr(data-count);
    position: absolute;
    background: #ff6600;
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
  }

  .user {
    background-color: #EDFEFA !important;
}

.user:hover {
    color: #696763 !important;
    background-color: #EDFEFA !important;
    cursor: default !important;
}