.mostRatedProductsControlLeft i {
    background: none repeat scroll 0 0 #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.mostRatedProductsControlRight i {
    background: none repeat scroll 0 0 #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.mostRatedProductsControlLeft {
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: 0%
}

.mostRatedProductsControlRight {
    position: absolute;
    top: 40%;
    right: 0%;
    margin-right: 2%
}

.mostRatedProducts {
    margin: 5%
}